<a routerLink="{{ route }}" routerLinkActive="active" class="c-button c-button--black">
              <span class="c-button__arrow">
                <svg class="c-arrow" width="20px" height="14px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g class="c-arrow__g">
                      <rect class="" id="c-arrow__rect" x="0" y="7" width="20" height="2" transform="scale(0,1)"></rect>
                      <polygon points="13.4875 0 12 1.6215 18.7875 8 12 14.3795 13.4875 16 21.9995 8"></polygon>
                    </g>
                  </g>
                </svg>
              </span>
  <span class="c-button__inner">{{ message }}</span>
</a>
