<div class="statistics">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="var(--main-bg-color)" fill-opacity="1"
          d="M0,192L60,181.3C120,171,240,149,360,160C480,171,600,213,720,213.3C840,213,960,171,1080,138.7C1200,107,1320,85,1380,74.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
    </path>
  </svg>

  <div class="container">
    <div class="section-header">
      <h2>statistics</h2>
    </div>
  </div>

  <div id="container">
    <div class="content">
<!--      <div class="header">-->
<!--        <h1>-->
<!--          <span class="main ng-tns-c101-16"> МЕТРИКИ </span>-->
<!--          <span class="sub ng-tns-c101-16">ФАКТИ ПРО SKYSOFT.TECH</span>-->
<!--        </h1>-->
<!--        <div class="racoon-animation">-->
<!--          <div class="racoon-position">&lt;!&ndash;&ndash;&gt;-->
<!--            <div class="racoon" style="opacity: 1; transform: translate(0px, 10px);">-->
<!--              <img src="/assets/images/metrics/racoon-jetpath-without-button.svg" alt="racoon">-->
<!--              <div class="animation-start ng-tns-c101-16">-->
<!--                <img src="/assets/images/metrics/racoon-jetpath-button.svg" alt="animation"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <landing-bubbles>
        <div class="pjs-circle"
             style="position: absolute; width: 115.049px; height: 115.049px; margin-left: -47.5244px; margin-top: -57.5244px; border-radius: 50%; transform: translate(576.049px, 405.619px) scale(1) translate(0px);"></div>
        <div class="pjs-circle"
             style="position: absolute; width: 76.6992px; height: 76.6992px; margin-left: -28.3496px; margin-top: -38.3496px; border-radius: 50%; transform: translate(650.348px, 472.95px) scale(1) translate(0px);"></div>
        <div class="pjs-circle"
             style="position: absolute; width: 76.6992px; height: 76.6992px; margin-left: -28.3496px; margin-top: -38.3496px; border-radius: 50%; transform: translate(1110.6px, 204.48px) scale(1) translate(0px);"></div>
        <div class="pjs-circle"
             style="position: absolute; width: 76.6992px; height: 76.6992px; margin-left: -28.3496px; margin-top: -38.3496px; border-radius: 50%; transform: translate(573.634px, -63.9956px) scale(1) translate(0px);"></div>
        <div class="pjs-circle"
             style="position: absolute; width: 76.6992px; height: 76.6992px; margin-left: -28.3496px; margin-top: -38.3496px; border-radius: 50%; transform: translate(305.185px, 89.44px) scale(1) translate(0px);"></div>
        <div class="pjs-circle"
             style="position: absolute; width: 168.738px; height: 168.738px; margin-left: -74.3691px; margin-top: -84.3691px; border-radius: 50%; transform: translate(1033.59px, 107.861px) scale(1) translate(0px);"></div>
        <div class="pjs-circle"
             style="position: absolute; width: 168.738px; height: 168.738px; margin-left: -74.3691px; margin-top: -84.3691px; border-radius: 50%; transform: translate(808.068px, 442.386px) scale(1) translate(0px);"></div>
        <div class="pjs-circle"
             style="position: absolute; width: 115.049px; height: 115.049px; margin-left: -47.5244px; margin-top: -57.5244px; border-radius: 50%; transform: translate(825.01px, -47.1425px) scale(1) translate(0px);"></div>
        <div class="pjs-circle"
             style="position: absolute; width: 115.049px; height: 115.049px; margin-left: -47.5244px; margin-top: -57.5244px; border-radius: 50%; transform: translate(343.552px, 204.509px) scale(1) translate(0px);"></div>
        <div class="pjs-circle metrics" [ngClass]="showMoon0 ? 'hover' : ''" (mouseenter)="toggleShowMoon(0)" (mouseleave)="toggleShowMoon(0)"
             style="position: absolute; width: 191.748px; height: 191.748px; margin-left: -90.874px; margin-top: -95.874px; border-radius: 50%; transform: translate(452.457px, 314.756px) scale(1) translate(0px);">
          <div class="front" *ngIf="!showMoon0">
            <span class="main"> title_0 </span>
          </div>
          <div class="back" *ngIf="showMoon0">
            <img class="icon" src=" /assets/icons/metrics/flag.svg">
            <span class="text">     99,9% виконано вчасно </span>
          </div>
        </div>
        <div class="pjs-circle metrics" [ngClass]="showMoon1 ? 'hover' : ''" (mouseenter)="toggleShowMoon(1)" (mouseleave)="toggleShowMoon(1)"
             style="position: absolute; width: 214.758px; height: 214.758px; margin-left: -97.379px; margin-top: -107.379px; border-radius: 50%; transform: translate(955.44px, 282.96px) scale(1) translate(0px);">
          <div class="front" *ngIf="!showMoon1">
            <span class="main"> title_1 </span>
          </div>
          <div class="back" *ngIf="showMoon1">
            <img class="icon" src=" /assets/icons/metrics/bug.svg">
            <span class="text">     створюється avg в рік </span>
          </div>898
        </div>
        <div class="pjs-circle metrics" [ngClass]="showMoon2 ? 'hover' : ''" (mouseenter)="toggleShowMoon(2)" (mouseleave)="toggleShowMoon(2)"
             style="position: absolute; width: 168.738px; height: 168.738px; margin-left: -75.3691px; margin-top: -84.3691px; border-radius: 50%; transform: translate(863.035px, 89.561px) translate(0px);">
          <div class="front" *ngIf="!showMoon2">
            <span class="main"> title_2 </span>
          </div>
          <div class="back" *ngIf="showMoon2">
            <img class="icon" src=" /assets/icons/metrics/male.svg">
            <span class="text">     найняли 74 експертів за 2019-2020 роки </span>
          </div>
        </div>
        <div class="pjs-circle metrics" [ngClass]="showMoon3 ? 'hover' : ''" (mouseenter)="toggleShowMoon(3)" (mouseleave)="toggleShowMoon(3)"
             style="position: absolute; width: 184.078px; height: 184.078px; margin-left: -82.0391px; margin-top: -92.0391px; border-radius: 50%; transform: translate(686.256px, 8.68522px) scale(1) translate(0px);">
          <div class="front" *ngIf="!showMoon3">
            <span class="main"> title_3 </span>
          </div>
          <div class="back" *ngIf="showMoon3">
            <img class="icon" src=" /assets/icons/metrics/coffee.svg">
            <span class="text">     і ніяких проблем із тиском </span>
          </div>
        </div>
        <div class="pjs-circle metrics" [ngClass]="showMoon4 ? 'hover' : ''" (mouseenter)="toggleShowMoon(4)" (mouseleave)="toggleShowMoon(4)"
             style="position: absolute; width: 245.438px; height: 245.438px; margin-left: -112.719px; margin-top: -122.719px; border-radius: 50%; transform: translate(484.513px, 82.3112px) scale(1) translate(0px);">
          <div class="front" *ngIf="!showMoon4">
            <span class="main"> title_4 </span>
          </div>
          <div class="back" *ngIf="showMoon4">
            <img class="icon" src=" /assets/icons/metrics/calendar.svg">
            <span class="text">     і тільки 38% навчальні </span>
          </div>
        </div>
        <div class="pjs-circle metrics" [ngClass]="showMoon5 ? 'hover' : ''" (mouseenter)="toggleShowMoon(5)" (mouseleave)="toggleShowMoon(5)"
             style="position: absolute; width: 260.777px; height: 260.777px; margin-left: -120.389px; margin-top: -130.389px; border-radius: 50%; transform: translate(695.765px, 244.196px) scale(1.1) translate(0px);">
          <div class="front" *ngIf="!showMoon5">
            <span class="main"> title_5 </span>
          </div>
          <div class="back" *ngIf="showMoon5">
            <img class="icon" src=" /assets/icons/metrics/couch.svg">
            <span class="text">     6 зон відпочинку у офісах Вінниці </span>
          </div>
        </div>
      </landing-bubbles>
    </div>
  </div>

<!--  <div class="container">-->
<!--    <div class="item">-->
<!--      <svg width="354" height="280" fill="none">-->
<!--        <g>-->
<!--          <path-->
<!--            d="M138 8c2 3 6 12 5 19l-10-2 10 5c-1 4-4 14-9 20l-12-3 10 5-3 6c-3-1-10-3-12-2l8 8c-5 8-12 20-28 31l-4-2 3 3c-2 1-8 5-13 6-10-13-11-23-11-27l15-4-13-3v-2l10 1-10-3c9-32 26-49 33-54l8 8c3-5 2-11 1-13 10-3 19 1 22 3z"-->
<!--            fill="#2F3175"></path>-->
<!--          <path-->
<!--            d="M44 20c-2 3-5 9-4 15l8-2-8 4c1 3 3 11 7 15 2 0 8-2 9-1l-8 3 3 5c2-1 7-3 9-2l-6 7c4 6 9 15 21 23l4-1-3 2 11 5c7-10 8-18 8-21l-11-3 10-2v-2l-8 1 7-3c-7-24-20-38-25-42l-6 7c-2-4-2-8-1-10-8-3-15 0-17 2z"-->
<!--            fill="#2F3175"></path>-->
<!--          <path-->
<!--            d="M138 8c-31 27-50 74-55 94 5-1 11-5 13-6l-3-3 4 2c16-11 23-23 28-31l-9-8c3-1 10 1 13 2l3-6-10-5 12 2c5-6 8-15 9-19l-10-5 10 2c1-7-3-16-5-19z"-->
<!--            fill="#24255C"></path>-->
<!--          <path-->
<!--            d="M44 20c24 22 39 58 43 73l-11-5 3-2-3 1c-12-8-18-17-22-23l7-7-10 2-3-4 8-4c-1-1-7 1-9 1-4-4-6-12-7-15l8-4-8 2c-1-6 2-12 4-15z"-->
<!--            fill="#24255C"></path>-->
<!--          <path-->
<!--            d="M118 53l-5 9c1-2 4-4 7-4 5 0 5 6 0 8h-9a94 94 0 00-5 11c1-2 3-4 5-4 3-2 7-1 6 3-1 3-5 5-7 5h-5l-3 11c1-2 3-5 5-5 4-1 6-1 6 2s-4 7-7 7h-4v9h-1V92l-3-1c-3-1-5-7-5-9 0-3 4-4 6-3l3 9 3-11-3-2c-2-2-4-6-4-9s4-6 7-2l2 8 4-10c-2 1-5-6-5-10s5-7 7-4c2 2 1 7 0 10l4-6c0-3 1-7 4-10 4-3 8-3 7 2s-7 9-10 9z"-->
<!--            fill="#121334"></path>-->
<!--          <rect x="30" y="48" width="235" height="44" rx="8" fill="#45479D"></rect>-->
<!--          <rect x="28" y="58" width="239" height="200" rx="6" fill="#6264C4"></rect>-->
<!--          <circle cx="145.5" cy="180.5" r="62.5" fill="#37398D"></circle>-->
<!--          <path-->
<!--            d="M12 40l7 11c-2-2-6-4-9-4-7 0-6 7 0 9 5 1 10 1 11-1a110 110 0 016 14l-6-6c-4-2-9 0-8 4s6 6 9 6h6l3 13-6-6c-5-1-7 0-7 3 0 4 5 8 9 8h4l1 11h1l-1-16c1 1 2 1 4-1 4-2 6-8 6-11s-4-5-7-2c-2 1-3 6-4 10l-3-14s2 0 3-2c3-2 5-7 5-10s-5-7-8-3c-2 2-2 7-2 10l-6-12c3 1 6-8 6-12s-5-8-8-4c-2 2-1 8 0 11l-5-7c0-3-1-9-5-11-5-5-9-4-8 2 2 6 9 10 12 10z"-->
<!--            fill="#24255C"></path>-->
<!--          <text x="109" y="98.5" font-size="35" font-weight="600" fill="var(&#45;&#45;heading-color)">Title</text>-->
<!--          <text x="120" y="186.5" font-size="22" fill="var(&#45;&#45;heading-color)">value</text>-->
<!--          &lt;!&ndash; <text x="75" y="110" font-size="35" font-weight="600" fill="var(&#45;&#45;heading-color)"> Hello </text> &ndash;&gt;-->
<!--        </g>-->
<!--      </svg>-->
<!--    </div>-->
<!--    <div class="item">-->
<!--      <svg width="354" height="280" fill="none">-->
<!--        <g>-->
<!--          <path-->
<!--            d="M138 8c2 3 6 12 5 19l-10-2 10 5c-1 4-4 14-9 20l-12-3 10 5-3 6c-3-1-10-3-12-2l8 8c-5 8-12 20-28 31l-4-2 3 3c-2 1-8 5-13 6-10-13-11-23-11-27l15-4-13-3v-2l10 1-10-3c9-32 26-49 33-54l8 8c3-5 2-11 1-13 10-3 19 1 22 3z"-->
<!--            fill="#2F3175"></path>-->
<!--          <path-->
<!--            d="M44 20c-2 3-5 9-4 15l8-2-8 4c1 3 3 11 7 15 2 0 8-2 9-1l-8 3 3 5c2-1 7-3 9-2l-6 7c4 6 9 15 21 23l4-1-3 2 11 5c7-10 8-18 8-21l-11-3 10-2v-2l-8 1 7-3c-7-24-20-38-25-42l-6 7c-2-4-2-8-1-10-8-3-15 0-17 2z"-->
<!--            fill="#2F3175"></path>-->
<!--          <path-->
<!--            d="M138 8c-31 27-50 74-55 94 5-1 11-5 13-6l-3-3 4 2c16-11 23-23 28-31l-9-8c3-1 10 1 13 2l3-6-10-5 12 2c5-6 8-15 9-19l-10-5 10 2c1-7-3-16-5-19z"-->
<!--            fill="#24255C"></path>-->
<!--          <path-->
<!--            d="M44 20c24 22 39 58 43 73l-11-5 3-2-3 1c-12-8-18-17-22-23l7-7-10 2-3-4 8-4c-1-1-7 1-9 1-4-4-6-12-7-15l8-4-8 2c-1-6 2-12 4-15z"-->
<!--            fill="#24255C"></path>-->
<!--          <path-->
<!--            d="M118 53l-5 9c1-2 4-4 7-4 5 0 5 6 0 8h-9a94 94 0 00-5 11c1-2 3-4 5-4 3-2 7-1 6 3-1 3-5 5-7 5h-5l-3 11c1-2 3-5 5-5 4-1 6-1 6 2s-4 7-7 7h-4v9h-1V92l-3-1c-3-1-5-7-5-9 0-3 4-4 6-3l3 9 3-11-3-2c-2-2-4-6-4-9s4-6 7-2l2 8 4-10c-2 1-5-6-5-10s5-7 7-4c2 2 1 7 0 10l4-6c0-3 1-7 4-10 4-3 8-3 7 2s-7 9-10 9z"-->
<!--            fill="#121334"></path>-->
<!--          <rect x="30" y="48" width="235" height="44" rx="8" fill="#45479D"></rect>-->
<!--          <rect x="28" y="58" width="239" height="200" rx="6" fill="#6264C4"></rect>-->
<!--          <circle cx="145.5" cy="180.5" r="62.5" fill="#37398D"></circle>-->
<!--          <path-->
<!--            d="M12 40l7 11c-2-2-6-4-9-4-7 0-6 7 0 9 5 1 10 1 11-1a110 110 0 016 14l-6-6c-4-2-9 0-8 4s6 6 9 6h6l3 13-6-6c-5-1-7 0-7 3 0 4 5 8 9 8h4l1 11h1l-1-16c1 1 2 1 4-1 4-2 6-8 6-11s-4-5-7-2c-2 1-3 6-4 10l-3-14s2 0 3-2c3-2 5-7 5-10s-5-7-8-3c-2 2-2 7-2 10l-6-12c3 1 6-8 6-12s-5-8-8-4c-2 2-1 8 0 11l-5-7c0-3-1-9-5-11-5-5-9-4-8 2 2 6 9 10 12 10z"-->
<!--            fill="#24255C"></path>-->
<!--          <text x="109" y="98.5" font-size="35" font-weight="600" fill="var(&#45;&#45;heading-color)">Title</text>-->
<!--          <text x="120" y="186.5" font-size="22" fill="var(&#45;&#45;heading-color)">value</text>-->
<!--          &lt;!&ndash; <text x="75" y="110" font-size="35" font-weight="600" fill="var(&#45;&#45;heading-color)"> Hello </text> &ndash;&gt;-->
<!--        </g>-->
<!--      </svg>-->
<!--    </div>-->
<!--    <div class="item">-->
<!--      <svg width="354" height="280" fill="none">-->
<!--        <g>-->
<!--          <path-->
<!--            d="M138 8c2 3 6 12 5 19l-10-2 10 5c-1 4-4 14-9 20l-12-3 10 5-3 6c-3-1-10-3-12-2l8 8c-5 8-12 20-28 31l-4-2 3 3c-2 1-8 5-13 6-10-13-11-23-11-27l15-4-13-3v-2l10 1-10-3c9-32 26-49 33-54l8 8c3-5 2-11 1-13 10-3 19 1 22 3z"-->
<!--            fill="#2F3175"></path>-->
<!--          <path-->
<!--            d="M44 20c-2 3-5 9-4 15l8-2-8 4c1 3 3 11 7 15 2 0 8-2 9-1l-8 3 3 5c2-1 7-3 9-2l-6 7c4 6 9 15 21 23l4-1-3 2 11 5c7-10 8-18 8-21l-11-3 10-2v-2l-8 1 7-3c-7-24-20-38-25-42l-6 7c-2-4-2-8-1-10-8-3-15 0-17 2z"-->
<!--            fill="#2F3175"></path>-->
<!--          <path-->
<!--            d="M138 8c-31 27-50 74-55 94 5-1 11-5 13-6l-3-3 4 2c16-11 23-23 28-31l-9-8c3-1 10 1 13 2l3-6-10-5 12 2c5-6 8-15 9-19l-10-5 10 2c1-7-3-16-5-19z"-->
<!--            fill="#24255C"></path>-->
<!--          <path-->
<!--            d="M44 20c24 22 39 58 43 73l-11-5 3-2-3 1c-12-8-18-17-22-23l7-7-10 2-3-4 8-4c-1-1-7 1-9 1-4-4-6-12-7-15l8-4-8 2c-1-6 2-12 4-15z"-->
<!--            fill="#24255C"></path>-->
<!--          <path-->
<!--            d="M118 53l-5 9c1-2 4-4 7-4 5 0 5 6 0 8h-9a94 94 0 00-5 11c1-2 3-4 5-4 3-2 7-1 6 3-1 3-5 5-7 5h-5l-3 11c1-2 3-5 5-5 4-1 6-1 6 2s-4 7-7 7h-4v9h-1V92l-3-1c-3-1-5-7-5-9 0-3 4-4 6-3l3 9 3-11-3-2c-2-2-4-6-4-9s4-6 7-2l2 8 4-10c-2 1-5-6-5-10s5-7 7-4c2 2 1 7 0 10l4-6c0-3 1-7 4-10 4-3 8-3 7 2s-7 9-10 9z"-->
<!--            fill="#121334"></path>-->
<!--          <rect x="30" y="48" width="235" height="44" rx="8" fill="#45479D"></rect>-->
<!--          <rect x="28" y="58" width="239" height="200" rx="6" fill="#6264C4"></rect>-->
<!--          <circle cx="145.5" cy="180.5" r="62.5" fill="#37398D"></circle>-->
<!--          <path-->
<!--            d="M12 40l7 11c-2-2-6-4-9-4-7 0-6 7 0 9 5 1 10 1 11-1a110 110 0 016 14l-6-6c-4-2-9 0-8 4s6 6 9 6h6l3 13-6-6c-5-1-7 0-7 3 0 4 5 8 9 8h4l1 11h1l-1-16c1 1 2 1 4-1 4-2 6-8 6-11s-4-5-7-2c-2 1-3 6-4 10l-3-14s2 0 3-2c3-2 5-7 5-10s-5-7-8-3c-2 2-2 7-2 10l-6-12c3 1 6-8 6-12s-5-8-8-4c-2 2-1 8 0 11l-5-7c0-3-1-9-5-11-5-5-9-4-8 2 2 6 9 10 12 10z"-->
<!--            fill="#24255C"></path>-->
<!--          <text x="109" y="98.5" font-size="35" font-weight="600" fill="var(&#45;&#45;heading-color)">Title</text>-->
<!--          <text x="120" y="186.5" font-size="22" fill="var(&#45;&#45;heading-color)">value</text>-->
<!--          &lt;!&ndash; <text x="75" y="110" font-size="35" font-weight="600" fill="var(&#45;&#45;heading-color)"> Hello </text> &ndash;&gt;-->
<!--        </g>-->
<!--      </svg>-->
<!--    </div>-->
<!--  </div>-->

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="var(--main-bg-color)" fill-opacity="1"
          d="M0,64L48,90.7C96,117,192,171,288,192C384,213,480,203,576,176C672,149,768,107,864,96C960,85,1056,107,1152,133.3C1248,160,1344,192,1392,208L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
</div>
