<section id="hero" class="container" data-aos="zoom-in" data-aos-delay="100">
  <div class="description col-6">
    <h1 class="mb-4 pb-0">The Annual<br><span>Marketing</span> Conference</h1>
    <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
  </div>
  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#1D1E4F"
          d="M65,-20.9C70.2,-5.1,50.7,18.9,28.6,33.5C6.6,48.1,-18,53.4,-31.4,43.6C-44.7,33.7,-46.9,8.9,-39.8,-9.4C-32.7,-27.8,-16.4,-39.6,6.8,-41.8C29.9,-44,59.8,-36.6,65,-20.9Z"
          transform="translate(100 100)"/>
  </svg>
</section>

<app-statistics></app-statistics>

<app-up-coming-events></app-up-coming-events>

<app-top-events></app-top-events>

<section id="subscribe">
  <div class="container" data-aos="zoom-in">
    <div class="section-header">
      <h2>Newsletter</h2>
      <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
    </div>

    <form method="POST" action="#">
      <div class="row justify-content-center">
        <div class="row">
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter your Email">
          </div>
          <div class="col-sm-4">
            <button type="submit" class="ms-2">Subscribe</button>
          </div>
        </div>
        <!--        <div class="col-lg-6 col-md-10 d-flex">-->
        <!--          <input type="text" class="form-control" placeholder="Enter your Email">-->
        <!--          <button type="submit" class="ms-2">Subscribe</button>-->
        <!--        </div>-->
      </div>
    </form>

  </div>
</section>

<app-testimony></app-testimony>
